html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-size: 1em;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: #fff;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
p,
figure {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
}
.container {
  background-color: #f3f3f3;
  min-width: 900px;
  margin: 0 auto;
}
.likes,
.caption {
  position: absolute;
  font-size: 1.2vw;
  color: white;
}
.likes {
  top: 1.5vw;
  right: 1.8vw;
  padding: 0.4vw 1.6vw 0.4vw 0.8vw;
  background-color: rgba(0, 0, 0, 0.4);
  border: 0.15vw solid white;
}
.likes::after {
  position: absolute;
  top: 0.35vw;
  right: 0.7vw;
  content: '\2665';
}
.caption {
  bottom: 1.8vw;;
  left: 1.7vw;;
}
.btn {
  padding: 0;
  font: inherit;
  font-size: 1.15vw;
  color: white;
  background-color: #097774;
  border: none;
  cursor: pointer;
  transition: all 400ms ease-out;
}
.btn:hover {
  color: #e8e8e8;
  background-color: #016562;
  box-shadow:
    inset 0 0 0.5vw 0.2vw #e8e8e8,
    0 0 0.5vw rgba(0, 0, 0, 0.3);
}
.btn:active {
  color: #fff;
  box-shadow:
    inset 0 0 0.3vw 0.2vw #fff;
}
.btn:focus {
  outline: none;
}
.header {
  width: 100%;
  color: white;
  background: #000000 url(../img/sample2.jpg) no-repeat -12vw 0;
  background-size: calc(100% + 24vw);
}
.user {
  display: flex;
  justify-content: space-between;
  padding-top: 3.3%;
  font-size: 1.2vw;
}
.user__logo {
  margin-left: 4vw;
  text-transform: uppercase;
  letter-spacing: 0.22vw;
}
.user__list {
  display: flex;
  justify-content: flex-end;
}

.user__item {
  margin-right: 4.65vw;
}
.header__heading {
  margin-top: 16vw;
  font-size: 4vw;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.65vw;
}
.header__heading span {
  font-size: 7.6vw;
}
.header__slogan {
  font-size: 1.15vw;
  text-align: center;
  text-transform: capitalize;
}
.site__list {
  display: flex;
  justify-content: space-between;
  margin: 14.5vw auto 9.94vw;
  width: 77.5vw;
}
.site__link {
  padding: 1.2vw 6.45vw;
  font-size: 1.2vw;
  outline: 0.15vw solid white;
  transition: all 400ms ease-in-out;
}
.site__link:hover {
  color: black;
  background-color: #f0f0f0;
  outline: 0.2vw dashed black;
  outline-offset: -1.2vw;
}
.site__link:active {
  outline-offset: 0;
  opacity: 0.7;
}
.header__bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 8.5vw;
  background-image: linear-gradient(to top right, #f3f3f3 50%, #000 50%);
}
.header__text {
  width: 50vw;
  font-size: 1.14vw;
  text-align: left;
}
.header__text--right {
  align-self: flex-end;
  margin-top: 0.3vw;
  margin-right: 2.8vw;
  width: 45vw;
}
.header__text--left {
  align-self: flex-start;
  width: 35vw;
  margin: 2.2vw 0 5vw 4vw;
  font-size: 1.5vw;
  color: #000;
}
.articles__wrap {
  margin: -1.4vw auto 2.2vw;
  width: 90vw;
}
.articles__title {
  margin-bottom: 3.15vw;
  font-size: 1.97vw;
  text-align: center;
}
.favorites {
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
.favorites__inner {
  width: 50vw;
}
.favorites__inner--img {
  position: relative;
  height: 24.4vw;
  overflow: hidden;
  box-shadow: inset 0 -3vw 6vw rgba(0, 0, 0, 0.5);
}
.favorites__inner--img img {
  position: relative;
  z-index: -1;
}
.favorites__inner--text {
  margin-top: 1.7vw;
}
.favorites__text {
  margin-left: auto;
  margin-bottom: 3.8vw;
  width: 37.5vw;
  font-size: 1.15vw;
  text-align: center;
}
.favorites:nth-of-type(2) {
  margin-top: -1.6vw;
}
.favorites:nth-of-type(2) .favorites__inner--img {
  order: 2;
}
.favorites:nth-of-type(2) .favorites__text {
  margin-left: 0;
  margin-right: auto;
}
.news {
  padding-top: 2.9vw;
  text-align: center;
  background-color: white;
}
.news__list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 4.2vw;
  width: 87.7vw;
}
.news__item {
  position: relative;
  width: 18.35vw;
  height: 24.4vw;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}
.news__item:nth-child(1) {
  background-image: url(../img/news-list-1.jpg);
}
.news__item:nth-child(2) {
  background-image: url(../img/news-list-2.jpg);
}
.news__item:nth-child(3) {
  background-image: url(../img/news-list-3.jpg);
}
.news__item:nth-child(4) {
  background-image: url(../img/news-list-4.jpg);
}
.news__explore {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0.5vw 6vw;
  font-size: 1.2vw;
  font-weight: 700;
  background-color: #097774;
  transform: translate(-50%, -50%);
  opacity: 0.8;
  transition: all 400ms ease-in-out;
}
.news__explore:hover {
  opacity: 1;
  box-shadow:  0 0 1.5vw #097774;
}
.news__explore:active {
  background-color: rgba(9, 119, 116, 0.7);
}
.news__btn {
  margin-bottom: 3vw;
  padding: 1.16vw 9.5vw;
}
.subscribe {
  display: flex;
  flex-direction: column;
}
.subscribe__text {
  margin: 3.4vw auto 1.25vw;
  width: 94vw;
  font-size: 1.145vw;
}
.subscribe__form {
  align-self: flex-end;
  display: flex;
  align-items: center;
  margin-right: 2.1vw;
  margin-bottom: 4vw;
}
.subscribe label {
  font-size: 1.96vw;
}
.subscribe input {
  margin-left: 0.8vw;
  padding: 0.72vw;
  font-weight: 600;
}
.subscribe input[type="email"] {
  margin-left: 1.6vw;
  width: 12.3vw;
  font-size: 1.1vw;
  font-weight: normal;
  background-color: #f3f3f3;
  border: 0.1vw solid #000000;
}
.subscribe input::placeholder {
  color: #000;
}
.footer {
  padding-top: 1vw;
  font-size: 1.15vw;
  background-color: white;
}
.footer__nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.3vw;
}
.footer-cr a {
  color: #9E9E9E;
}
.footer__list {
  display: flex;
  justify-content: space-between;
  width: 20vw;
}
.footer__list a {
  color: black;
}
@media screen and (min-device-width: 1900px){
  .likes {
    top: 2.6vw;
    right: 2.6vw;
    padding: 0.8vw 2.9vw 0.8vw 1.5vw;
    font-size: 1.8vw;
  }
  .likes::after {
    top: 0.8vw;
    right: 1.4vw;
  }
  .caption {
    bottom: 2.8vw;
    left: 2.7vw;
    font-size: 1.8vw;
  }
  .user {
    padding-top: 5vw;
    font-size: 2vw;
  }
  .user__logo {
    margin-left: 6.5vw;
    letter-spacing: 0.3vw;
  }
  .user__item {
    margin-right: 7vw;
  }
  .header__heading {
    margin-top: 26vw;
    font-size: 6.5vw;
    letter-spacing: 1vw;
  }
  .header__heading span {
    font-size: 11.6vw;
  }
  .header__slogan {
    font-size: 1.8vw;
  }
  .site__list {
    margin-top: 24.4vw;
    margin-bottom: 16.5vw;
    width: 123.7vw;
  }
  .site__link {
    padding: 1.9vw 10.2vw;
    font-size: 2vw;
    outline-width: 0.2vw;
  }
  .header__text--right {
    margin-bottom: 8.5vw;
    margin-right: 6vw;
    width: 70vw;
    font-size: 1.8vw;
  }
  .header__text--left {
    position: relative;
    top: -1.7vw;
    width: 50vw;
    margin: -3.8vw 0 7.5vw 6.5vw;
    font-size: 2.28vw;
  }
  .articles__wrap {
     margin: -2.5vw auto 3.4vw;
     width: 143vw;
  }
  .articles__title {
    margin-bottom: 4.65vw;
    font-size: 3.05vw;
  }
  .favorites__inner {
    width: 71.4vw;
  }
  .favorites__inner--img {
    height: 38.8vw;
  }
  .favorites__inner--text {
    margin-top: 3vw;
  }
  .favorites__text {
    margin-bottom: 6.25vw;
    width: 59.7vw;
    font-size: 1.82vw;
  }
  .favorites:nth-of-type(2) {
    margin-top: -2.9vw;
  }
  .news {
    padding-top: 4.6vw;
  }
  .news__list {
    margin-bottom: 6.6vw;
    width: 139.7vw;
  }
  .news__item {
    width: 29.2vw;
    height: 38.85vw;
  }
  .news__explore {
    padding: 0.8vw 9.4vw;
    font-size: 2vw;
  }
  .news__btn {
    margin-bottom: 4.75vw;
    padding: 1.9vw 14.9vw;
    font-size: 1.85vw;
  }
  .subscribe__text {
    margin: 5.8vw auto 1.75vw;
    width: 150vw;
    font-size: 1.825vw;
  }
  .subscribe label {
    font-size: 3.06vw;
  }
  .subscribe__form {
    margin-right: 3.25vw;
    margin-bottom: 6vw;
  }
  .subscribe input {
    margin-left: 1.25vw;
    padding: 1.15vw;
    font-size: 1.85vw;
  }
  .subscribe input[type="email"] {
    margin-left: 2.6vw;
    padding-top: 1.4vw;
    width: 19.5vw;
    font-size: 1.76vw;
  }
  .footer {
    padding-top: 2.2vw;
    font-size: 1.8vw;
  }
  .footer__nav {
    margin-bottom: 3.6vw;
  }
  .footer__list {
    width: 31.6vw;
  }
}