@function getColor($color) {
  @return map_get($colors, $color);
}

@function getFont($bgColor: transparent) {
  @if $bgColor == transparent {
    @return map_get($fonts, fontHeader);
  }
  @return map_get($fonts, fontBody);
}

@mixin indent($margin: 0, $padding: 0) {
  margin: $margin;
  padding: $padding;
}

@mixin lines($bottom: 0, $left: 0, $width: 100%, $height: 16px) {
  position: absolute;
  bottom: $bottom;
  left: $left;
  z-index: -1;
  display: block;
  width: $width;
  height: $height;
  background-color: getColor(lineColor);
  content: '';
}

html,
body {
  @include indent;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  max-width: 100%;
  font-family: getFont(map_get($colors, bgColor));
  color: getColor(color);
  background-color: getColor(bgColor);
}

.header {
  width: 100%;
  height: 900px;
  background-color: white;
  background-image: $bgHeader;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 0 40% 0;
}

.header-wrap {
  margin-left: 10%;
  padding-top: 25px;
}

.landing-logo {
  display: flex;
  align-items: flex-start;

  img {
    width: 55px;
    height: 55px;
  }

  p {
    @include indent;
    margin-left: 18px;
    font-size: 1.9em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
  }
  span {
    display: block;
    font-size: 0.4em;
  }
}

.header_heading {
  @include indent;
  position: relative;
  margin-top: 91px;
  width: 50%;
  font-size: 5.65em;
  font-weight: 700;
  font-family: getFont();
  line-height: 1;
  z-index: 1;

  &::after {
    @include lines(0, 0, 380px, 31px);
  }
}

.header_text {
  margin-top: 45px;
  white-space: pre-line;
  font-size: 1.2em;
  line-height: 1.55;
  word-spacing: 3.5px;
}

.header_button {
  margin-top: 58px;
  padding: 15px 55px;
  color: #f2f3f7;
  font-size: 1.4em;
  font-family: getFont();
  font-weight: 600;
  background-color: getColor(btnColor);
  border: none;
  border-radius: 3px;
  transition: all 400ms ease-in;

  &:hover,
  &:active {
    background-color: darken(getColor(btnColor), 10%);
    box-shadow: 0 0 7px 1px rgba(white, 0.9);
  }
  &:active {
    box-shadow: none;
  }

  &:focus {
    outline: none;
  }
}

.section {
  position: relative;
  width: 100%;
}

.section_text {
  @include indent;
  position: relative;
  margin-top: 45px;
  font-size: 3.3em;
  font-weight: 600;
  font-family: getFont();
  text-align: center;
  z-index: 1;

  &::after {
    @include lines(10px, 50.5%, 235px);
  }
}

.section_card_wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 46px auto 0;
}

.section_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 11px 11px;
  padding: 26px;
  max-width: 497px;
  min-width: 470px;
  width: 30vw;
  text-align: center;
  color: white;
  background-color: getColor(cardColor);
  border-radius: 10px;
}

.section_card_img {
  width: 100%;
  border-radius: 5px;
}

.section_card_heading {
  @include indent;
  position: relative;
  flex-grow: 1;
  margin-top: 18px;
  font-size: 1.85em;
  font-weight: 600;
  font-family: getFont();
  color: white;
  z-index: 1;

  .section_card_underline {
    @include lines();
    top: 20px;
  }
}

.section_card_text {
  @include indent;
  flex-grow: 1;
  align-self: center;
  margin-top: 20px;
  font-size: 1.24rem;
  line-height: 1.5;
  opacity: 0.7;
}

.section_banner {
  position: absolute;
  bottom: -351px;
  left: 50%;
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 180px;
  border-radius: 10px;
  color: white;
  background: $gradient;
  z-index: 11;
  transform: translateX(-50%);
}

.section_banner_text_wrap {
  margin: 32px 0 0 128px;
}

.section_banner_heading {
  @include indent;
  position: relative;
  font-size: 2.36em;
  font-weight: bold;
  font-family: getFont();
  color: getColor(color);
  z-index: 1;

  &::before {
    @include lines(5px, 150px, 80px);
  }
}

.section_banner_text {
  @include indent;
  margin-top: 20px;
  font-size: 1.25em;
  opacity: 0.7;
}

.section_banner_button {
  @extend .header_button;
  align-self: center;
  margin-top: 0;
  margin-right: 128px;
}

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 260px;
  color: white;
  background-color: getColor(cardColor);
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 143px 0 50px;
  width: 80%;
}

.footer_logo {
  p {
    opacity: 0.7;
  }
}

.footer_text {
  width: 385px;
  font-size: 1.1em;
  line-height: 1.4;
  opacity: 0.7;
}

.footer-cr {
  font-size: 1.25em;
  opacity: 0.7;
}