@media screen {
  .tm-main-nav,
  .tm-main-content > section,
  .tm-main-content > .tm-content-header {
    box-shadow: 0 0 10px rgba(61, 55, 61, 0.7);
  }

  .tm-nav-item-link:hover {
    background-color: rgba(135, 206, 250, 0.3);
  }

  .tm-banner {
    background: #76cdd7;
  }

  .tm-banner-inner {
    background: #fff;
  }

  .tm-banner-text {
    word-spacing: 10px;
    letter-spacing: 5px;
    text-shadow:
      0 3px 1px #76cdd7,
      0 12px 2px #76cdd7;
    animation: banner-rotation 4s ease-out 2;
  }
  
  @keyframes banner-rotation {
    0% {
      transform: rotateY(0);
    }
    100% {
      transform: rotateY(360deg);
    }
  }

  section {
    position: relative;
  }

  section::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    border: 23px solid lightskyblue;
    border-right-color: transparent;
    border-bottom-color: transparent;
  }

  .tm-section-title + p {
    font-style: italic;
  }

  .flex-2-col {
    display: flex;
  }

  .flex-2-col .tm-section-title {
    margin-top: 170px;
  }

  .tm-section-description {
    line-height: 1.8;
  }

  .tm-section-description::first-letter {
    margin-left: 25px;
  }

  .tm-section-title-box:hover {
    color: white;
    background-color: lightskyblue;
  }

  .heading h2 {
    color: #76cdd7;
    text-align: center;
  }

  .heading ol {
    list-style: lower-roman;
  }

  .heading a {
    padding: 5px;
    color: black;
  }

  .heading a:visited {
    color: #ffb347;
  }

  .heading .text::after {
    content: 'New';
    color: red;
    vertical-align: super;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 10px;
  }

  .box-work {
    padding: 10px;
  }

  .box-work:nth-of-type(even) {
    background-color: #f5f5f5;
  }

  .box-work p {
    font-style: italic;
  }

  .box-work p:first-letter {
    font-size: 25px;
  }

  .contact-form .form-control {
    border-radius: 5px;
  }

  .contact-form .form-control:not(textarea) {
    border: none;
    border-bottom: 2px solid lightskyblue;
  }

  .contact-form textarea {
    border: 2px solid lightskyblue;
  }

  .contact-form .form-control:focus {
    color: white;
    background-color: #76cdd7;
    border: 2px solid lightskyblue;
  }

  .contact-form input[type="email"] {
    background: url(../img/email-icon.png) no-repeat right;
    background-size: 30px;
  }

  .contact-form .submit-btn {
    float: right;
    width: 200px;
    height: 70px;
    font-size: 22px;
    font-weight: 300;
    color: lightskyblue;
    background-color: white;
    border: 2px solid lightskyblue;
    border-radius: 0;
  }

  .contact-form .submit-btn:hover {
    color: white;
    background-color: lightskyblue;
    border: 2px solid deepskyblue;
  }
}

 @media print {
   html,
   body {
     text-align: center;
     background-color: white;
   }

   .tm-sidebar,
   .tm-team-img,
   .boxes,
   .carousel-indicators,
   section:last-of-type {
     display: none;
   }

   .tm-content-box {
     margin: 0;
   }

   .tm-main-content,
   .tm-banner,
   .padding-medium,
   .slide {
     padding: 0 20px;
   }

   .flex-item {
     max-width: 100%;
     margin: auto;
   }

   h2 {
     margin-bottom: 1rem;
     font-weight: 300;
     text-transform: uppercase;
     color: lightskyblue;
     -webkit-print-color-adjust: exact;
   }

   p {
     padding: 0 15px;
   }

   .tm-banner,
   .blocks {
     margin-bottom: 40px;
   }

   .tm-banner-text {
     letter-spacing: 5px;
     word-spacing: 10px;
   }

   .heading,
   .slide {
     margin: 25px 0 15px;
   }

   .heading ol {
     margin: auto;
     padding: 0;
     max-width: 280px;
     list-style: none;
     line-height: 1.4;
   }

   .heading li {
     margin-bottom: 10px;
   }

   .heading li:nth-child(odd) {
     text-align: left;
   }

   .heading li:nth-child(even) {
     text-align: right;
   }

   .heading li::first-letter {
     font-size: 25px;
     color: #76cdd7;
     -webkit-print-color-adjust: exact;
   }

   .heading a {
     color: black;
     -webkit-print-color-adjust: exact;
   }
 }